.popup__text {
  margin: 0 0 20px 0;
  width: 100%;
  text-align: center;

  color: #000;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.21;
}

@media screen and (max-width: 768px) {
  .popup__text {
    font-size: 23px;
  }
}

@media screen and (max-width: 400px) {
  .popup__text {
    font-size: 20px;
  }
}
