.header__toggle {
  display: none;
}

.header__toggle:checked + .button_type_hamburger .top-bun {
  width: 20px;
  top: 8px;
  transform: rotateZ(45deg);
}
.header__toggle:checked + .button_type_hamburger .bottom-bun {
  opacity: 0;
  transform: rotate(45deg);
}
.header__toggle:checked + .button_type_hamburger .meat {
  width: 20px;
  top: 0;
  transform: rotateZ(-45deg);
}

.header__toggle:checked + .button_type_hamburger + .header__menu {
  top: 0;
  transform: scale(1);
}
