.page__container {
  margin: 0 auto;
  padding: 45px 0 60px 0;
  box-sizing: border-box;
  max-width: 880px;
  width: 100%;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .page__container {
    padding-top: 36px;
    padding-bottom: 48px;
  }
}

@media screen and (max-width: 400px) {
  .page__container {
    padding-top: 28px;
    padding-bottom: 36px;
  }
}
