.navbar {
  margin: 7px 0 0 0;
  padding: 0;

  display: grid;
  grid-template-columns: min-content min-content;
  column-gap: 24px;
  row-gap: 18px;
}

/* плавное появление отступа справа у меню
При этом не затрагиваем белый border всего header*/
/* 27px + 880px + 27px = 934px*/
@media screen and (max-width: 934px) {
  .navbar {
    padding-right: calc((934px - 100vw) / 2); /* от 0 до 27*/
  }
}

@media screen and (max-width: 880px) {
  .navbar {
    padding-right: 27px;
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    margin: 0;
    padding: 40px 0 40px 0;
    width: 100%;

    border-bottom: 1px solid #54545470;
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 1;

    justify-content: center;
  }
}

@media screen and (max-width: 540px) {
  .navbar {
    grid-template-columns: min-content;
    justify-items: center;
  }
}
