.form__title {
  margin: 0 0 38px 0;
  padding: 0;
  width: 100%;

  color: #000;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.21;
}

@media screen and (max-width: 768px) {
  .form__title {
    font-size: 21px;
    line-height: 1.22;
  }
}

@media screen and (max-width: 400px) {
  .form__title {
    font-size: 18px;
  }
}
