.button_type_hamburger {
  display: none;

  /* чтобы текст кнопки не выделялся при нажатии на неё пальцем в mobile-view */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: #00000000;
}

@media screen and (max-width: 768px) {
  .button_type_hamburger {
    display: block;
    margin: 0;
    padding: 0;
    width: min-content;

    align-self: center;
    justify-self: right;
  }
}

.button_type_hamburger:hover {
  opacity: 0.6;
  transition: 0.2s ease-in-out;
}

@media screen and (max-width: 428px) {
  .button_type_hamburger {
    top: 24px;
    left: 16px;
  }
}
