.button_type_like {
  width: 22px;
  height: 19px;
  background-color: #00000000;   /* прозрачный фон */
  background-image: url("../../../images/button_like.svg");
  background-size: cover;
  border: 0px;
}

.button_type_like:hover {
  transition: opacity 0.2s ease;
  opacity: 0.5;
}
