@media screen and (min-width: 769px) {
  .button_type_hamburger {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .button_type_hamburger {
    padding-right: 27px;
  }
}

.button_type_hamburger:hover {
  opacity: 0.6;
  transition: 0.2s ease-in-out;
}

@media screen and (max-width: 428px) {
  .button_type_hamburger {
    top: 24px;
    left: 16px;
  }
}
