.form__input_type_account {
  color: #cccccc;
  border-bottom: 1px solid;
  border-bottom-color: #cccccc;
  padding: 0;

  /* чтобы автозаполнение хбраузером на девките не выделяло инпуты белым
  -webkit-text-fill-color должен совпадать с цветом плэйсхолдера если он есть, но
  тогда и цвет текста заполнения будет цветом плэйсхолдера */
  -webkit-box-shadow: 0 0 0 30px rgb(0, 0, 0) inset;
  -webkit-text-fill-color: #cccccc;
}

.form__input_type_account::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  color: #cccccc;
}
