.content {
  margin: 0;
  padding: 0;
  width: 100%;

  display: grid;
  grid-template-rows: min-content; /* чтобы прижать секцию profile к верху */
  grid-template-columns: auto;
  row-gap: 50px;


  flex: 1; /* для липкого футера и хэдэра независимо от колтчества контента на странице */
}

@media screen and (max-width: 768px) {
  .content {
    row-gap: 43px;
  }
}

@media screen and (max-width: 320px) {
  .content {
    row-gap: 36px;
  }
}
